@import url("https://fonts.googleapis.com/css?family=Montserrat|Noto+Sans&display=swap");
body {
  font-family: 'Noto Sans', sans-serif;
  background-color: #fdfffd;
  overflow: hidden;
}

body button {
  cursor: pointer;
}

header {
  width: 100vw;
  height: 200px;
  margin: 0 auto;
  margin-top: 20px;
  text-align: center;
  padding-top: 35px;
  background-image: url(bookmark.png);
  background-repeat: no-repeat;
  background-position: 50% 0%;
  background-size: auto 90%;
}

header .banner {
  position: relative;
  width: 320px;
  height: 155px;
  margin: 0 auto;
}

header h1 {
  padding-bottom: 25px;
  margin-right: 70px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 26px;
  color: white;
}

header h2 {
  position: absolute;
  top: 80px;
  left: 30px;
  width: 150px;
  font-size: 18px;
  font-weight: bold;
  color: #d51439;
  line-height: 24px;
  text-align: left;
}

header label {
  font-size: 16px;
}

.headerActions {
  width: 80vw;
  max-width: 600px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

select {
  background-color: white;
  padding-bottom: 5px;
  font-size: 16px;
}

.newBookmark {
  width: 60px;
  margin-bottom: 10px;
  padding: 7px 12px 7px 12px;
  background-color: #d51439;
  color: white;
  font-size: 15px;
  font-weight: bold;
  border: 0;
  border-radius: 8px;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-top: 60px;
  padding-top: 15px;
  color: white;
}

main button {
  background-color: #4282cc;
  border: 0;
}

main .icon {
  color: white;
}

main .icon:hover {
  cursor: pointer;
}

.fa-plus,
.fa-minus {
  font-size: 14px;
}

.bookmarks {
  width: 85%;
  max-width: 450px;
}

.site {
  margin-bottom: 15px;
}

.bookmarkHeader {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #4282cc;
}

.siteInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.siteInfo h3 {
  margin-right: 10px;
}

.siteExpansion {
  background-color: #153084;
  font-size: 15px;
}

.siteExpansion a {
  line-height: 35px;
  padding: 10px;
}

.siteExpansion a,
.siteExpansion a:visited {
  color: #69bbff;
}

.siteExpansion p {
  padding: 10px;
}

.editBookmarkForm,
.newBookmarkForm {
  width: 80%;
  max-width: 450px;
  margin: 0 auto;
  margin-top: -50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: black;
}

.editBookmarkForm fieldset,
.newBookmarkForm fieldset {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.editBookmarkForm legend,
.newBookmarkForm legend {
  font-weight: bold;
  margin-bottom: 30px;
  font-size: 18px;
}

.editBookmarkForm label,
.newBookmarkForm label {
  font-size: 15px;
  margin-bottom: 5px;
}

.editBookmarkForm input,
.newBookmarkForm input {
  width: 100%;
  padding: 5px;
  margin-bottom: 15px;
  border: 1px solid #cccccc;
}

.editBookmarkForm textarea,
.newBookmarkForm textarea {
  width: 100%;
  padding: 5px;
  margin-bottom: 15px;
  height: 70px;
  border: 1px solid #cccccc;
}

.editBookmarkForm select,
.newBookmarkForm select {
  width: 100%;
  margin-bottom: 15px;
  border: 1px solid #cccccc;
}

.editBookmarkForm button,
.newBookmarkForm button {
  width: auto;
  padding: 5px 10px 5px 10px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-bottom: 10px;
  border-radius: 8px;
  font-weight: bold;
  color: white;
}

.cancel,
.cancelEdit {
  width: auto;
  padding: 5px 10px 5px 10px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-bottom: 10px;
  border-radius: 8px;
  font-weight: bold;
  color: white;
}

.getStarted {
  width: 90%;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  text-align: left;
  font-size: 16px;
  color: black;
}

.getStarted p {
  line-height: 30px;
}
/*# sourceMappingURL=App.css.map */