$liBgColor: #4282cc;
$expandBgColor: #153084;
$fontColor: white;
$secondaryFontColor: #d51439;
$linkColor: #69bbff;
$btnColor: #4282cc;
$newBtnColor: #d51439;

@import url('https://fonts.googleapis.com/css?family=Montserrat|Noto+Sans&display=swap');

body {
  font-family: 'Noto Sans', sans-serif;
  background-color: #fdfffd;
  overflow: hidden;

  & button {
    cursor: pointer;
  }
}

header {
  width: 100vw;
  height: 200px;
  margin: 0 auto;
  margin-top: 20px;
  text-align: center;
  padding-top: 35px;
  background-image: url(bookmark.png);
  background-repeat: no-repeat;
  background-position: 50% 0%;
  background-size: auto 90%;

  & .banner {
    position: relative;
    width: 320px;
    height: 155px;
    margin: 0 auto;
  }

  & h1 {
    padding-bottom: 25px;
    margin-right: 70px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 26px;
    color: white;
  }

  & h2 {
    position: absolute;
    top: 80px;
    left: 30px;
    width: 150px;
    font-size: 18px;
    font-weight: bold;
    color: $secondaryFontColor;
    line-height: 24px;
    text-align: left;
  }

  & label {
    font-size: 16px;
  }
}

.headerActions {
  width: 80vw;
  max-width: 600px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-around;
}

select {
  background-color: white;
  padding-bottom: 5px;
  font-size: 16px;
}

.newBookmark {
  width: 60px;
  margin-bottom: 10px;
  padding: 7px 12px 7px 12px;
  background-color: $newBtnColor;
  color: $fontColor;
  font-size: 15px;
  font-weight: bold;
  border: 0;
  border-radius: 8px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 60px;
  padding-top: 15px;
  color: $fontColor;

  & button {
    background-color: $btnColor;
    border: 0;
  }

  & .icon {
    color: $fontColor;
  }

  & .icon:hover {
    cursor: pointer;
  }
}

.fa-plus,
.fa-minus {
  font-size: 14px;
}

.bookmarks {
  width: 85%;
  max-width: 450px;
}

.site {
  margin-bottom: 15px;
}

.bookmarkHeader {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  background-color: $liBgColor;
}

.siteInfo {
  display: flex;

  & h3 {
    margin-right: 10px;
  }
}

.siteExpansion {
  background-color: $expandBgColor;
  font-size: 15px;

  & a {
    line-height: 35px;
    padding: 10px;
  }

  & a,
  & a:visited {
    color: $linkColor;
  }

  & p {
    padding: 10px;
  }
}

.editBookmarkForm,
.newBookmarkForm {
  width: 80%;
  max-width: 450px;
  margin: 0 auto;
  margin-top: -50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;

  & fieldset {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  & legend {
    font-weight: bold;
    margin-bottom: 30px;
    font-size: 18px;
  }

  & label {
    font-size: 15px;
    margin-bottom: 5px;
  }

  & input {
    width: 100%;
    padding: 5px;
    margin-bottom: 15px;
    border: 1px solid #cccccc;
  }

  & textarea {
    width: 100%;
    padding: 5px;
    margin-bottom: 15px;
    height: 70px;
    border: 1px solid #cccccc;
  }

  & select {
    width: 100%;
    margin-bottom: 15px;
    border: 1px solid #cccccc;
  }

  & button {
    width: auto;
    padding: 5px 10px 5px 10px;
    align-self: center;
    margin-bottom: 10px;
    border-radius: 8px;
    font-weight: bold;
    color: $fontColor;
  }
}

.cancel,
.cancelEdit {
  width: auto;
  padding: 5px 10px 5px 10px;
  align-self: center;
  margin-bottom: 10px;
  border-radius: 8px;
  font-weight: bold;
  color: $fontColor;
}

.getStarted {
  width: 90%;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  text-align: left;
  font-size: 16px;
  color: black;

  & p {
    line-height: 30px;
  }
}
